:root {
  --blur: blur(20px);
  --bg: rgba(255, 255, 255, 0.5);
  --padding: 17px 15px 0;
  --border-radius: 20px;
  --shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  position: relative;
  margin: 0;
  padding: 20px 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  z-index: 0;
  overflow-x: hidden;
}

.scroll-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}











#clock-container {
  position: relative;
  width: 650px;
  height: 150px;
  border-radius: 24px;
  z-index: 10;
}


#clock-glass-effect {
  position: absolute;
  border-radius: 24px;
  inset: 0;
  backdrop-filter: blur(0px);
  filter: url(#glass-distortion);
  z-index: 0;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

#area {
  position: absolute;
  border-radius: 24px;
  z-index: 1;
  inset: 0;
  backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow:
    inset 10px 10px 7px -7px rgba(255, 255, 255, 1),
    inset -12px -12px 10px -8px rgba(255, 255, 255, .7),
    0 6px 6px rgba(0, 0, 0, 0.2),
    0 0 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

#area:hover {
  transform: scale(1.05);
  backdrop-filter: blur(1px);
  background: rgba(255, 255, 255, 0);
}

#area:hover+#clock-glass-effect {
  transform: scale(1.05);
}

#clock {
  position: absolute;
  width: 650px;
  height: 150px;
  z-index: 2;
}

.separator {
  backdrop-filter: blur(10px);
  box-shadow:
    inset 10px 10px 7px -7px rgba(255, 255, 255, 1),
    inset -12px -12px 10px -8px rgba(255, 255, 255, .7),
    0 6px 6px rgba(0, 0, 0, 0.2),
    0 0 20px rgba(0, 0, 0, 0.1);
}

#sep1,
#sep2 {
  left: 217.5px;
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 3.5px;
  opacity: 1;
  will-change: transform;
}

#sep1 {
  top: 48px;
}

#sep2 {
  top: 87px;
}

#sep3,
#sep4 {
  left: 417.3px;
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 3.5px;
  opacity: 1;
  will-change: transform;
}

#sep3 {
  top: 48px;
  animation: moveDown 1s linear infinite;
}

#sep4 {
  top: 87px;
  animation: moveUp 1s linear infinite;
}















#bar-container {
  position: relative;
  width: 92%;
  max-width: 800px;
  height: 70px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  z-index: 30;
}

#search-form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  z-index: 2;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

#search-form:hover {
  transform: scale(1.02, 1.1);
}

/*
#search-form:has(#search-icon:hover) #search-bar-container {
  transform: scale(1.02, 1.1);
  background-color: rgba(255, 255, 255, 0);
}
*/
#search-bar-container {
  flex-grow: 1;
  position: relative;
  height: 100%;
  z-index: 0;
}

#chat-bubble-fake {
  width: 50px;
  height: 50px;
  background: transparent;
  transition:
    width 1s cubic-bezier(0.175, 0.885, 0.32, 1.1),
    height 1s cubic-bezier(0.175, 0.885, 0.32, 1.1),
    top 1s ease-in-out,
    right 1s ease-in-out;
}

#chat-bubble.expanded+#search-form #chat-bubble-fake {
  width: 900px;
  height: 600px;
  transition:
    top 1s cubic-bezier(0.175, 0.885, 0.32, 1.1),
    right 1s cubic-bezier(0.175, 0.885, 0.32, 1.1),
    height 1s ease-in-out,
    width 1s ease-in-out;
}

#search-bar-glass-effect {
  position: absolute;
  border-radius: 25px;
  inset: 0;
  backdrop-filter: blur(0px);
  filter: url(#glass-distortion);
  z-index: 1;
}

#search-bar {
  position: absolute;
  pointer-events: auto;
  border: none;
  padding-left: 11%;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 550;
  border-radius: 25px;
  outline-color: #FEC319;
  inset: 0;
  backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow:
    inset 10px 10px 7px -7px rgba(255, 255, 255, 1),
    inset -12px -12px 10px -8px rgba(255, 255, 255, .7),
    0 6px 6px rgba(0, 0, 0, 0.2),
    0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 2;
  transition: all 0.3s ease-out;
}

#search-bar::placeholder {
  color: #484848;
}

/*
#search-bar:focus {
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.5);
}

#search-bar-container:has(#search-bar:focus) {
  transform: scale(1.02, 1.1);
}

#search-bar-container:hover+#search-icon {
  transform: translateX(-8px);
}

#search-bar-container:hover #search-bar:not(:focus) {
  backdrop-filter: blur(1px);
  background: rgba(255, 255, 255, 0);
}

#search-bar-container:has(#search-bar:focus)+#search-icon {
  transform: translateX(-8px);
}
*/








#search-icon {
  position: absolute;
  top: 10px;
  left: calc(5% - 10px);
  pointer-events: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 2;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.5);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1)) drop-shadow(0 0 5px rgba(255, 255, 255, 1));
}

#search-icon:hover {
  transform: scale(1.1);
}

#search-options {
  pointer-events: auto;
  position: absolute;
  width: 200px;
  height: 270px;
  border-radius: 24px;
  transform: scale(0);
  transform-origin: top left;
  top: 55px;
  left: 7%;
  overflow: hidden;
  box-shadow:
    0 6px 6px rgba(0, 0, 0, 0.2),
    0 0 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  z-index: 1;
  transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1);
}

#search-options.active {
  transform: scale(1);
}

#search-options-glass-effect-1 {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(0px);
  filter: url(#glass-distortion);
  z-index: 0;
}

#search-options-glass-effect-2 {
  position: absolute;
  padding: 10px;
  border-radius: 24px;
  box-sizing: border-box;
  z-index: 1;
  inset: 0;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.3);
  box-shadow:
    inset 10px 10px 7px -7px rgba(255, 255, 255, 1),
    inset -12px -12px 10px -8px rgba(255, 255, 255, .7);
}

#search-options a {
  height: 30px;
  width: auto;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #484848;
  text-decoration: none;
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease-out;
}

#search-options a:hover {
  background: rgba(255, 255, 255, 0.3);
  box-shadow:
    inset 10px 10px 7px -7px rgba(255, 255, 255, 1),
    inset -12px -12px 10px -8px rgba(255, 255, 255, .7);
}

.option-icon {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

#background-blur-search-options {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
}

#background-blur-search-options.active {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  pointer-events: auto;
}










#bookmark-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 20;
}

#container-1 {
  z-index: 1;
}

#container-2 {
  z-index: 10;
}

#container-3 {
  z-index: 3;
}

#container-4 {
  z-index: 4;
}

#container-5 {
  z-index: 5;
}

.container {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.container:hover {
  transform: scale(1.01);
}

.container:hover #container-glass-effect-2 {
  background: rgba(255, 255, 255, 0.1);
}

#container-all {
  position: relative;
}

#container-glass-effect-1 {
  position: absolute;
  border-radius: 24px;
  height: 100%;
  inset: 0;
  backdrop-filter: blur(0px);
  filter: url(#glass-distortion);
  z-index: 1;
}

#container-glass-effect-2 {
  position: absolute;
  border-radius: 24px;
  padding: 10px 15px 10px 15px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  inset: 0;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.3);
  box-shadow:
    inset 10px 10px 7px -7px rgba(255, 255, 255, 1),
    inset -12px -12px 10px -8px rgba(255, 255, 255, .7),
    0 6px 6px rgba(0, 0, 0, 0.2),
    0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 2;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.bookmark-item {
  height: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container .bookmark-item a {
  width: 85px;
  height: 85px;
  transition: background-color 0.1s ease, transform 0.3s ease;
  padding-top: 7px;
  border-radius: 14px;
}

.bookmark-avatar {
  width: 50px;
  height: 50px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.container .bookmark-item a:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.3);
  box-shadow:
    inset 10px 10px 7px -7px rgba(255, 255, 255, 1),
    inset -12px -12px 10px -8px rgba(255, 255, 255, .7),
    0 6px 6px rgba(0, 0, 0, 0.2),
    0 0 20px rgba(0, 0, 0, 0.1);
}

.bookmark-name {
  left: 50%;
  transform: translateX(-50%);
  margin-top: 7px;
  font-size: 12px;
  font-weight: 600;
  color: #323232;
  position: absolute;
  white-space: nowrap;
}

@media (min-width: 1000px) {
  .container {
    width: 900px;
    grid-template-columns: repeat(10, 1fr);
  }

  .bookmark-item {
    width: 87.012496948px;
  }
}

@media (min-width: 900px) and (max-width: 999px) {
  .container {
    width: 800px;
    grid-template-columns: repeat(5, 1fr);
  }

  .bookmark-item {
    width: 152.4px;
  }
}

@media (min-width: 800px) and (max-width: 899px) {
  .container {
    width: 700px;
    grid-template-columns: repeat(5, 1fr);
  }

  .bookmark-item {
    width: 132.4px;
  }
}

@media (min-width: 700px) and (max-width: 799px) {
  .container {
    width: 600px;
    grid-template-columns: repeat(5, 1fr);
  }

  .bookmark-item {
    width: 112.4px;
  }
}

@media (min-width: 600px) and (max-width: 699px) {
  .container {
    width: 500px;
    grid-template-columns: repeat(5, 1fr);
  }

  .bookmark-item {
    width: 92.4px;
  }

  #area {
    scale: 0.9;
  }
}

@media (min-width: 500px) and (max-width: 599px) {
  .container {
    width: 400px;
    grid-template-columns: repeat(5, 1fr);
  }

  .bookmark-item {
    width: 72.4px;
  }

  #area {
    scale: 0.6;
  }
}

@media (max-width: 499px) {
  .container {
    width: 350px;
    grid-template-columns: repeat(5, 1fr);
  }

  .bookmark-item {
    width: 63.6px;
  }

  #area {
    scale: 0.57;
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(0) scale(1);
  }

  20% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(19.5px) scale(0.6, 1.5);
  }

  80% {
    transform: translateY(39px) scale(1);
  }

  100% {
    transform: translateY(39px) scale(1);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(0) scale(1);
  }

  20% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(-19.5px) scale(1.5, 0.6);
  }

  80% {
    transform: translateY(-39px) scale(1);
  }

  100% {
    transform: translateY(-39px) scale(1);
  }
}









.popup-container {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 0;
  height: 0;
  border-radius: 24px;
  box-sizing: border-box;
  box-shadow:
    0 6px 6px rgba(0, 0, 0, 0.2),
    0 0 20px rgba(0, 0, 0, 0.1);
  transform-origin: 0 0;
  overflow: hidden;
  z-index: 3;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.popup-container.active {
  width: 300px;
  height: 400px;
}

#popup-content-glass-effect {
  position: absolute;
  border-radius: 24px;
  overflow-y: auto;
  border-radius: 24px;
  inset: 0;
  backdrop-filter: blur(0px);
  filter: url(#glass-distortion);
  z-index: 2;
}

.popup-content {
  position: absolute;
  width: 300px;
  height: 400px;
  border-radius: 24px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  inset: 0;
  backdrop-filter: blur(7px);
  background: rgba(255, 255, 255, 0.5);
  box-shadow:
    inset 10px 10px 7px -7px rgba(255, 255, 255, 1),
    inset -12px -12px 10px -8px rgba(255, 255, 255, .7);
  z-index: 3;
}

.popup-bookmarks-grid {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  grid-template-rows: repeat(auto-fit, 90px);
  padding: 15px;
  width: 300px;
  height: 660px;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 24px;
}

.popup-bookmarks-grid .bookmark-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  opacity: 0;
  /* Initial opacity for animation */
  transform: translateY(-20px);
  /* Initial position for animation */
  height: 90px;
  width: 90px;
  position: static;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(.25, .46, .45, .94);
  border-radius: 14px;
}

/* Animation khi popup được kích hoạt */
.popup-container.active .popup-bookmarks-grid .bookmark-item {
  animation: slideUpFadeIn 0.3s ease-out forwards;
}

.popup-bookmarks-grid .bookmark-item a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  align-items: center;
}

.popup-bookmarks-grid .bookmark-item .popup-bookmark-avatar {
  width: 45px;
  height: 47px;
  position: static;
  top: 0;
  z-index: auto;
}

.popup-bookmarks-grid .bookmark-item:hover {
  background: rgba(255, 255, 255, 0.3);
  box-shadow:
    inset 10px 10px 7px -7px rgba(255, 255, 255, 1),
    inset -12px -12px 10px -8px rgba(255, 255, 255, .7),
    0 6px 6px rgba(0, 0, 0, 0.2),
    0 0 20px rgba(0, 0, 0, 0.1);
}

.popup-bookmarks-grid .bookmark-item .bookmark-name {
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
  position: static;
  transform: none;
  left: auto;
  z-index: auto;
  color: #333;
  text-shadow: none;
}

.container:has(.popup-container:hover) {
  transform: scale(1);
  background: rgba(255, 255, 255, 0.3);
}

/* Keyframes cho animation */
@keyframes slideUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}










#chat-bubble {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  box-sizing: border-box;
  pointer-events: auto;
  overflow: hidden;
  z-index: 4;
  transition: transform .4s cubic-bezier(0.175, 0.885, 0.32, 3.5),
    width 1s cubic-bezier(0.175, 0.885, 0.32, 1.1),
    height 1s cubic-bezier(0.175, 0.885, 0.32, 1.1),
    top 1s ease-in-out,
    right 1s ease-in-out;
}

#chat-bubble.expanded {
  top: -80px;
  right: -50px;
  width: 900px;
  height: 600px;
  border-radius: 24px;
  z-index: 5;
  transition:
    top 1s cubic-bezier(0.175, 0.885, 0.32, 1.1),
    right 1s cubic-bezier(0.175, 0.885, 0.32, 1.1),
    height 1s ease-in-out,
    width 1s ease-in-out;
}

#chat-bubble:not(.expanded) {
  background: rgba(0, 0, 0, 0);
  box-shadow:
    0 6px 6px rgba(0, 0, 0, 0.2),
    0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

#chat-bubble:not(.expanded):hover {
  transform: scale(1.1);
}

#chat-bubble-glass-effect-1 {
  position: absolute;
  border-radius: inherit;
  inset: 0;
  backdrop-filter: blur(0px);
  filter: url(#glass-distortion);
  z-index: 0;
}

#chat-bubble-glass-effect-2 {
  position: absolute;
  border-radius: inherit;
  z-index: 1;
  inset: 0;
  backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow:
    inset 10px 10px 7px -7px rgba(255, 255, 255, 1),
    inset -12px -12px 10px -8px rgba(255, 255, 255, .7);
}

#chat-bubble:not(.expanded):hover .note-icon {
  transform: scale(1.2);
}

.background-stars {
  position: absolute;
  top: 0;
  right: 0;
  width: 900px;
  height: 600px;
  border-radius: inherit;
  z-index: 2;
}

#note-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  border-bottom-right-radius: 100%;
  backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow:
    inset 10px 10px 7px -7px rgba(255, 255, 255, 1),
    inset -12px -12px 10px -8px rgba(255, 255, 255, .7);
  position: relative;
  cursor: pointer;
  z-index: 5;
  transition: all .3s linear;
}

/* Pseudo-element cho hiệu ứng hover - TRẠNG THÁI EXPANDED */
/* Đây là trạng thái mặc định của ::before, sẽ được áp dụng chỉ khi .expanded */
#note-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 123, 255);
  box-shadow: 0 0 50px #3195ff,
    0 0 5px #3195ff,
    0 0 25px #3195ff;
  border-bottom-right-radius: 100%;
  transform: translateX(-45px) translateY(-45px);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: 1;
  /* Mặc định ẩn, chỉ hiện khi #chat-bubble.expanded */
  display: none;
}

/* Khi hover vào #note-background VÀ chat-bubble ĐÃ EXPANDED */
#chat-bubble.expanded #note-background:hover::before {
  transform: translateX(0) translateY(0);
  opacity: 1;
}

.note-icon {
  position: absolute;
  top: 10px;
  left: 12px;
  width: 30px;
  height: 30px;
  z-index: 2;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

#chat-bubble:not(.expanded) .note-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
}

#chat-bubble:not(.expanded) #note-background {
  backdrop-filter: blur(0px);
  background: rgba(255, 255, 255, 0);
  box-shadow:
    inset 10px 10px 7px -7px rgba(255, 255, 255, 0),
    inset -12px -12px 10px -8px rgba(255, 255, 255, 0);
}

/* Luôn hiển thị note.png và ẩn reload.png khi chat-bubble chưa expanded */
#chat-bubble:not(.expanded) #note-default {
  opacity: 1;
  /* Luôn hiển thị note.png */
}

#chat-bubble:not(.expanded) #note-hover {
  opacity: 0;
  /* Luôn ẩn reload.png */
}


/* 2. Khi chat-bubble ĐÃ EXPANDED: */

/* Kích hoạt lớp phủ ::before khi expanded */
#chat-bubble.expanded #note-background::before {
  display: block;
}

#chat-bubble.expanded #note-default {
  opacity: 1;
  /* Mặc định note.png hiển thị */
}

/* Ẩn note-hover khi expanded và KHÔNG HOVER */
#chat-bubble.expanded #note-hover {
  opacity: 0;
  /* Mặc định reload.png ẩn */
}

/* Khi hover #note-background VÀ chat-bubble ĐÃ EXPANDED: */
#chat-bubble.expanded #note-background:hover #note-default {
  opacity: 0;
  /* Ẩn note.png */
}

#chat-bubble.expanded #note-background:hover #note-hover {
  opacity: 1;
  /* Hiện reload.png */
}

#stars,
#stars2,
#stars3 {
  width: 1px;
  height: 1px;
  background: transparent;
  position: absolute;
  --star-animation-height: 500px;
  animation: animStar var(--animation-duration, 50s) linear infinite;
}

#stars {
  --animation-duration: 50s;
}

#stars2 {
  width: 2px;
  height: 2px;
  --animation-duration: 100s;
}

#stars3 {
  width: 3px;
  height: 3px;
  --animation-duration: 150s;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(calc(-1 * var(--star-animation-height)));
  }
}

.background-blur-chat {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  transition: all .3s linear;
}

.background-blur-chat.active {
  opacity: 1;
  visibility: visible;
  z-index: 3;
}

.chat-toolbar {
  position: absolute;
  width: 700px;
  bottom: 0;
  right: 100px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  backdrop-filter: blur(5px);
  border-radius: 24px 24px 0px 0px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow:
    inset 10px 10px 7px -7px rgba(255, 255, 255, 1);
  z-index: 7;
  transition: all 0.3s ease;
}

.plus-button {
  position: relative;
  background: transparent;
  border: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.plus-button svg {
  width: 30px;
  height: 30px;
}

.plus-button:hover {
  box-shadow:
    inset 10px 10px 7px -7px rgba(255, 255, 255, 1),
    inset -12px -12px 10px -8px rgba(255, 255, 255, .7);
}

.send-button {
  position: relative;
  background: transparent;
  border: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.send-button svg {
  width: 40px;
  height: 40px;
  display: block;
}

.send-button:hover {
  box-shadow:
    inset 10px 10px 7px -7px rgba(255, 255, 255, 1),
    inset -12px -12px 10px -8px rgba(255, 255, 255, .7);
}

.text-area {
  position: relative;
  margin: 5px 10px;
  flex-grow: 1;
  border-radius: 25px;
  z-index: 0;
}

.text-input {
  position: relative;
  max-height: 400px;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 24px;
  padding: 9px 15px 10px 15px;
  font-size: 16px;
  resize: none;
  overflow-y: auto;
  line-height: 1.5;
  box-sizing: border-box;
  z-index: 1000000;
}

.text-input:focus {
  outline: none;
}

.text-area:focus-within .text-gradient-1 {
  opacity: 1;
}

.text-gradient-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: blur(10px);
  border-radius: 25px;
  background: linear-gradient(to left, #7cc6ff, #81ff9a, #fff895, #ffacb4, #df9bff, #7cc6ff, #81ff9a, #fff895, #ffacb4, #df9bff, #7cc6ff);
  background-position: 100% 0%;
  background-size: 200% 100%;
  animation: gradientAnimation 1s linear infinite;
  z-index: 0;
  transition: all 0.5s ease;
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.chat-content-area {
  position: absolute;
  top: 0;
  right: 0;
  width: 900px;
  height: 600px;
  padding: 30px 100px 100px 0;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-end;
  z-index: 3;
}

.message-box {
  position: relative;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.5);
  box-shadow:
    inset 10px 10px 7px -7px rgba(255, 255, 255, 1),
    inset -12px -12px 10px -8px rgba(255, 255, 255, .7);
  border-radius: 14px;
  min-width: 40px;
  max-width: 700px;
  width: fit-content;
  box-sizing: border-box;
  word-wrap: break-word;
  flex-shrink: 0;
  align-self: flex-end;
  transition: all 0.3s ease;
  transform-origin: right;
  display: flex;
  justify-content: center;
}

.message-box:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 1);
  box-shadow:
    inset 10px 10px 7px -7px rgba(255, 255, 255, 1),
    inset -12px -12px 10px -8px rgba(255, 255, 255, .7),
    0 0 14px rgba(0, 0, 0, 0.7);
}

/* Styles cho tin nhắn văn bản */
.message-box .message-content p {
  margin: 8px 13px;
  /* Giữ margin của bạn */
  font-size: 16px;
  color: #333;
  /* Màu chữ cho tin nhắn văn bản, thường là đen hoặc xám đậm */
  line-height: 1.5;
  text-align: justify;
  white-space: pre-wrap;
  /* Giữ định dạng khoảng trắng và xuống dòng */
}

/* Styles cho ảnh trong message-box */
.chat-image {
  max-width: 400px;
  max-height: 300px;
  border-radius: 14px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.message-box:has(.chat-image):hover {
  background: transparent;
}

.message-box:has(.chat-image):hover .chat-image {
  transform: scale(0.9);
}

/* Styles cho video trong message-box */
.chat-video {
  max-width: 400px;
  max-height: 300px;
  border-radius: 14px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.message-box:has(.chat-video):hover {
  background: transparent;
}

.message-box:has(.chat-video):hover .chat-video {
  transform: scale(0.9);
}

.chat-file {
  min-width: 180px;
  height: 80px;
  box-sizing: border-box;
  border-radius: 14px;
  background-color: rgba(80, 80, 80, 0.5);
  transition: all 0.3s ease;
}

.chat-file:hover {
  background-color: rgba(80, 80, 80, 0.8);
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.5);
}

.message-box:has(.chat-file) {
  background: transparent;
  box-shadow: none;
}

.message-box:has(.chat-file):hover {
  box-shadow: 0 0px 12px #ffffff80;
}

.file-info {
  width: 100%;
  height: 100%;
  padding: 19px;
  box-sizing: border-box;
  display: flex;
  gap: 15px;
  align-items: center;
}

.file-avatar-container {
  flex-shrink: 0;
  width: 55px;
  height: 55px;
}

.file-avatar-container svg {
  width: 55px;
  height: 55px;
}

.file-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.file-name {
  font-size: 17px;
  font-weight: 600;
  position: relative;
  top: 0px;
  color: #ffffff;
}

.file-size {
  font-size: 14px;
  color: #dcdcdc;
  display: block;
}

.message-box:has(.chat-audio) {
  border-radius: 25px;
  background-color: transparent;
}

.message-box:has(.chat-audio):hover {
  box-shadow: none;
}

.chat-audio {
  display: flex;
  /* Sử dụng flexbox để căn chỉnh các phần tử bên trong */
  align-items: center;
  width: 500px;
  /* Chiều rộng tối đa */
  height: 130px;
  /* Chiều cao cố định cho audio box */
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: rgba(80, 80, 80, 0.3);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.chat-audio:hover {
  background-color: rgba(80, 80, 80, 0.6);
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.5);
}

.chat-audio .file-avatar-container {
  position: absolute;
  top: 0px;
  left: -70px;
}

.chat-audio .file-info {
  position: absolute;
  top: 15px;
  left: 90px;
}

.chat-audio audio {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 94%;
  /* Chiều rộng cố định cho audio control */
  height: 40px;
  /* Chiều cao của audio control */
}

.temporary-notification {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  z-index: 100;
  font-size: 0.9em;
}

.temporary-notification.show {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
}


.interaction-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.2, 0.95, 0.4, 0.95);
  overflow: hidden;
}

.interaction-button img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.interaction-button.blue {
  background: rgba(0, 0, 0, 0.2);
  right: -45px;
  transform: translateY(-50%) translateX(-10px);
  transition: all 0.3s ease-out;
}

.interaction-button.blue:hover {
  background: rgb(0, 123, 255);
  box-shadow: 0 0 50px #3195ff,
    0 0 5px #3195ff,
    0 0 25px #3195ff;
}

.interaction-button.red {
  background: rgba(0, 0, 0, 0.2);
  right: -90px;
  transform: translateY(-50%) translateX(-55px);
  transition: all 0.3s ease-out;
}

.interaction-button.red:hover {
  background-color: #dc3545;
  box-shadow: 0 0 50px #dc3545,
    0 0 5px #dc3545,
    0 0 25px #dc3545;
}

.interaction-button.active {
  transform: translateY(-50%) translateX(0);
  opacity: 1;
}

.interaction-button.hide {
  transform: translateY(-50%) translateX(-10px);
  opacity: 0;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}







#toolbar-loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px 25px 0px 0px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(200px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
}

#toolbar-loading-overlay.active {
  opacity: 1;
  visibility: visible;
}

@keyframes waterfall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-250%);
    transform: translateY(-250%);
  }

  40%,
  60% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(250%);
    transform: translateY(250%);
  }
}

.waterfall {
  backdrop-filter: blur(10px);
}

.waterfall div {
  -webkit-animation: waterfall 1.5s infinite;
  animation: waterfall 1.5s infinite;
  background-color: var(--dot);
  height: 20px;
  left: 50%;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 20px;
  border-radius: 50%;
  box-shadow: 0 0 5px var(--dot),
    0 0 25px var(--dot),
    0 0 50px var(--dot);
}

.waterfall div:nth-of-type(5) {
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
  margin-left: -80px;
}


.waterfall div:nth-of-type(3) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
  margin-left: -45px;
}

.waterfall div:nth-of-type(1) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
  margin-left: -10px;
}

.waterfall div:nth-of-type(2) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  margin-left: 25px;
}

.waterfall div:nth-of-type(4) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  margin-left: 60px;
}
















/* Styles cho lớp phủ loading mới */
.loading-overlay {
  position: absolute;
  /* Quan trọng để bao phủ chat-bubble */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  /* Làm mờ nền */
  background-color: rgba(0, 0, 0, 0.8);
  /* Nền tối mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Đảm bảo nó nằm trên tất cả các nội dung khác trong chat-bubble */
  opacity: 0;
  visibility: hidden;
  z-index: 6;
  transition: all 0.3s ease
    /* Kế thừa border-radius từ parent #chat-bubble */
}

#chat-bubble:not(.expanded) .loading-overlay.active {
  opacity: 0;
  /* Giữ opacity 0 ngay cả khi active nếu bubble chưa mở */
  visibility: hidden;
  /* Đảm bảo ẩn hoàn toàn */
}

/* Khi loading-overlay có active class và chat-bubble ĐÃ EXPANDED */
#chat-bubble.expanded .loading-overlay.active {
  opacity: 1;
  /* Hiện loading overlay với opacity 1 */
  visibility: visible;
  /* Hiện loading overlay */
}

.loading-overlay.active {
  opacity: 1;
  visibility: visible;
}


@keyframes animate {
  0% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-60px);
    color: #fff;
    text-shadow: 0 0 5px #fff,
      0 0 25px #fff,
      0 0 50px #fff;
  }

  40%,
  100% {
    transform: translateY(0px);
    color: transparent;
    text-shadow: none;
  }
}



.scroll-to-bottom-btn {
  position: absolute;
  top: 460px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(71, 71, 71, 0.2);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(10px);
  z-index: 4;
  transition: all 0.3s ease-out;
}

.scroll-to-bottom-btn svg {
  transform: translateX(-0.5px);
}

.scroll-to-bottom-btn:hover {
  transform: scale(1.4) translateX(-13.8px);
  background: rgba(0, 123, 255, 0.7);
  background: rgb(0, 123, 255);
  box-shadow: 0 0 50px #3195ff,
    0 0 5px #3195ff,
    0 0 25px #3195ff;
}

.scroll-to-bottom-btn.show {
  opacity: 1;
  visibility: visible;
}

.scroll-to-bottom-btn svg {
  transition: transform 0.2s ease;
}

.scroll-to-bottom-btn:hover svg {
  transform: translate(-0.5px, 3px);
}


body.no-scroll {
  overflow: hidden;
}




















.glow-point {
  position: fixed;
  box-shadow: 0rem 0rem 1.2rem 0.6rem rgb(0, 172, 255);
  pointer-events: none;
  z-index: 30;
}

.starMouse {
  position: absolute;
  z-index: 200000000000;
  color: white;
  font-size: 1rem;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes fall-1 {
  0% {
    transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(0.25);
    opacity: 0;
  }

  5% {
    transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg) rotateZ(90deg) scale(1);
    opacity: 0;
  }
}

@keyframes fall-2 {
  0% {
    transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg) scale(0.25);
    opacity: 0;
  }

  10% {
    transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg) scale(0.25);
    opacity: 0;
  }
}

@keyframes fall-3 {
  0% {
    transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
    opacity: 0;
  }

  15% {
    transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg) scale(0.5);
    opacity: 0;
  }
}

















.background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-image: none;
}

.background img {
  /* Thêm transition để các lần đổi ảnh sau này mượt mà hơn */
  transition: opacity 0.3s ease-in-out;
}

/* Container cho panel */
.background-changer-container {
  position: fixed;
  top: 10px;
  left: 20px;
  z-index: 40;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

#panel-glass-effect {
  position: absolute;
  border-radius: 24px;
  z-index: 0;
  inset: 0;
  backdrop-filter: blur(0px);
  filter: url(#glass-distortion);
}

.expanded-panel {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 24px;
  overflow: hidden;
  backface-visibility: hidden;
  z-index: 1;
  inset: 0;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, .3);
  box-shadow:
    inset 10px 10px 7px -7px rgba(255, 255, 255, 1),
    inset -12px -12px 10px -8px rgba(255, 255, 255, .7),
    0 6px 6px rgba(0, 0, 0, 0.2),
    0 0 20px rgba(0, 0, 0, 0.1);
  transition: all 0.875s cubic-bezier(0.175, 0.885, 0.32, 1.2);
}

.background-changer-container:has(.expanded-panel:not(.active)):hover {
  transform: scale(1.2);
}

.background-changer-container:has(.expanded-panel:not(.active)):hover .panel-icon {
  transform: scale(1.2) translate(-10px, -10px);
}

/* Trạng thái khi panel mở rộng */
.expanded-panel.active {
  width: 300px;
  height: 383px;
  cursor: default;
}

.expanded-panel:not(.active) {
  background: rgba(255, 255, 255, 0.5);
}

/* Icon bên trong panel */
.panel-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  pointer-events: none;
  z-index: 1;
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 4.2);
}

/* Ẩn icon khi panel mở rộng */
.expanded-panel.active+.panel-icon {
  opacity: 0;
}

/* Nội dung panel - ẩn khi chưa mở rộng */
.panel-content {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  width: 300px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 2;
  transition: all 0.5s ease;
}

/* Hiện nội dung khi panel mở rộng */
.expanded-panel.active .panel-content {
  opacity: 1;
  visibility: visible;
}

/* Header của panel mở rộng */
.panel-header {
  position: relative;
  left: 10px;
  width: 280px;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 0px 15px;
  align-items: center;
  box-sizing: border-box;
}

/* CSS cho phần tử văn bản */
.panel-header .setting-text {
  font-size: 17px;
  color: var(--pannel-text-color);
  font-weight: bold;
  line-height: 28px;
  width: 170px;
  height: 28px;
  white-space: nowrap;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}

/* CSS cho công tắc bật/tắt Apple-style */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #ccc;
  border: 1px solid rgba(143, 143, 143, 0.2);
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3.4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked+.slider {
  background-color: #63e667;
  box-shadow:
    0 0 5px #00ff08,
    0 0 20px #00ff08;
}

input:checked+.slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Bo tròn slider */
.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}

.background-grid {
  display: grid;
  padding: 10px 10px 0px 10px;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: repeat(auto-fit, 80px);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
  flex: 1;
}

.background-option {
  position: relative;
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  width: 140px;
  height: 80px;
  border: none;
  box-sizing: border-box;
  object-fit: cover;
  /* Hardware acceleration */
  transform: translateZ(0);
  will-change: box-shadow;
}

.background-option img {
  position: absolute;
  width: 140px;
  height: 80px;
  object-fit: cover;
  display: block;
  border-radius: 4px;
  border: none;
  filter: brightness(0.8);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateZ(0) scale(0.7);
  will-change: opacity;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.background-option:hover {
  background: rgba(255, 255, 255, 0.3);
  box-shadow:
    inset 10px 10px 7px -7px rgba(255, 255, 255, 1),
    inset -12px -12px 10px -8px rgba(255, 255, 255, .7),
    0 6px 6px rgba(0, 0, 0, 0.2),
    0 0 20px rgba(0, 0, 0, 0.1);
}

.background-option:hover img {
  border-radius: 14px;
  transform: translate(-50%, -50%) scale(0.8);
  filter: brightness(1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.background-option.selected img {
  transform: translate(-50%, -50%) scale(1);
  filter: brightness(1);
}

.background-option.selected {
  box-shadow: 0px 0px 10px rgba(49, 149, 255, 1);
  border: 3px solid rgba(49, 149, 255, 0.8);
}