:root {
  --blur: blur(20px);
  --bg: rgba(255, 255, 255, 0.5);
  --padding: 17px 15px 0;
  --border-radius: 20px;
  --shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  --bookmark-animation: bounce 1s ease-in-out forwards;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  z-index: 0;
  overflow-x: hidden;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scroll-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 124%;
  z-index: 1;
}

#bookmark-container {
  position: absolute;
  top: 280px;
  gap: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.container {
  backdrop-filter: var(--blur);
  background: var(--bg);
  padding: 10px 15px 10px 15px;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  box-shadow: var(--shadow);
  animation: bookmark-container 1s cubic-bezier(0.175, 0.885, 0.32, 2) forwards;
}

.bookmark-item {
  height: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  position: relative;
  z-index: 3;
  animation: var(--bookmark-animation);
}

.container .bookmark-item a {
  width: 85px;
  height: 85px;
  transition: background-color 0.1s ease, transform 0.3s ease;
  padding-top: 7px;
  border-radius: 15px;
}

.bookmark-avatar {
  width: 50px;
  height: 50px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 4;
}

.container .bookmark-item a:hover {
  transform: scale(1.05);
  background-color: #ffffff7f;
}

.bookmark-name {
  left: 50%;
  transform: translateX(-50%);
  margin-top: 7px;
  font-size: 12px;
  color: #333;
  position: absolute;
  white-space: nowrap;
  z-index: 5;
}

#bar-container {
  pointer-events: none;
  position: relative;
  display: flex;
  justify-content: center;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  z-index: 8;
}

#sticky-bar {
  width: 100%;
  max-width: 800px;
  height: 70px;
  position: relative;
  top: -1px;
  box-sizing: border-box;
  font-size: 16px;
  position: sticky;
  z-index: 9;
  transform-origin: bottom;
  transform: scale(0);
  animation: sticky-bar 1s cubic-bezier(0.2, 0.95, 0.4, 0.95) forwards;
  opacity: 1;
}

#search-bar {
  width: 90%;
  pointer-events: auto;
  height: 50px;
  top: 10px;
  left: 10px;
  border: none;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.8);
  font-size: 16px;
  border-radius: 100px;
  position: relative;
  z-index: 11;
  outline-color: #FEC319;
  transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

#search-bar:hover {
  transform: translateX(calc(50% - 360px)) scaleY(1.1);
}

#search-icon {
  position: absolute;
  pointer-events: auto;
  top: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0;
  z-index: 12;
  animation: search-icon 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#search-options {
  padding: 10px 0px 10px 0px;
  position: absolute;
  border-radius: 20px;
  pointer-events: auto;
  top: 35px;
  left: 7%;
  backdrop-filter: blur(15px);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.5);
  list-style: none;
  width: 200px;
  pointer-events: none;
  overflow: hidden;
  transform-origin: top left;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  z-index: 13;
}

#search-options a {
  margin-left: 10px;
  height: 30px;
  width: 140px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

#search-options a:hover {
  transform: translateX(5px) scale(1.1);
  background-color: #ffffff7f;
}

#search-options.active {
  pointer-events: auto;
  transform: scale(1);
  opacity: 1;
  z-index: 13;
  visibility: visible;
}

.option-icon {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

#background-blur {
  position: fixed;
  top: -200px;
  left: -460px;
  width: 250%;
  height: 1500%;
  backdrop-filter: blur(10px);
  opacity: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease;
  z-index: 10;
}

#background-blur.active {
  pointer-events: auto;
  opacity: 1;
  z-index: 10;
}

#clock-container {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 650px;
  height: 150px;
  z-index: 14;
  animation: clock 1s cubic-bezier(0.2, 0.95, 0.4, 0.95) forwards;
}

#area:hover {
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.3);
}

#area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 14;
  transition: all 0.3s ease;
  border-radius: 20px;
}

#clock {
  position: absolute;
  width: 650px;
  height: 150px;
  padding-top: 12px;
  padding-left: 14px;
  box-sizing: border-box;
  z-index: 15;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  background-color: rgba(91, 154, 165, 0.2);
  box-shadow: 0 0px 12px rgba(255, 255, 255, 0.5);
  border: 3px solid rgba(255, 255, 255, 0.1);
}

.block {
  fill: #ffd500;
  z-index: 16;
}

#sep3 {
  top: 48px;
  left: 415px;
  background-color: rgb(255, 255, 255);
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 5px;
  z-index: 17;
  opacity: 1;
  will-change: transform;
  animation: moveDown 1s ease-out infinite;
}

#sep4 {
  top: 88px;
  left: 415px;
  background-color: rgb(255, 255, 255);
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 5px;
  z-index: 17;
  opacity: 1;
  will-change: transform;
  animation: moveUp 1s ease-out infinite;
}

@media (min-width: 1000px) {
  .container {
    width: 900px;
    grid-template-columns: repeat(10, 1fr);
  }

  .bookmark-item {
    width: 85.4px;
  }

  #search-bar {
    padding-left: 10%;
  }

  .bookmark-item:nth-child(10n + 1) {
    animation-delay: 0s;
  }

  .bookmark-item:nth-child(10n + 2) {
    animation-delay: 0.1s;
  }

  .bookmark-item:nth-child(10n + 3) {
    animation-delay: 0.2s;
  }

  .bookmark-item:nth-child(10n + 4) {
    animation-delay: 0.3s;
  }

  .bookmark-item:nth-child(10n + 5) {
    animation-delay: 0.4s;
  }

  .bookmark-item:nth-child(10n + 6) {
    animation-delay: 0.5s;
  }

  .bookmark-item:nth-child(10n + 7) {
    animation-delay: 0.6s;
  }

  .bookmark-item:nth-child(10n + 8) {
    animation-delay: 0.7s;
  }

  .bookmark-item:nth-child(10n + 9) {
    animation-delay: 0.8s;
  }

  .bookmark-item:nth-child(10n + 10) {
    animation-delay: 0.9s;
  }

  .bookmark-item:nth-child(10n + 11) {
    animation-delay: 1s;
  }

  .bookmark-item:nth-child(10n + 12) {
    animation-delay: 0.1s;
  }

  .bookmark-item:nth-child(10n + 13) {
    animation-delay: 0.2s;
  }

  .bookmark-item:nth-child(10n + 14) {
    animation-delay: 0.3s;
  }

  .bookmark-item:nth-child(10n + 15) {
    animation-delay: 0.4s;
  }

  .popup-container {
    top: -330px;
    left: 90px;
  }
}

@media (min-width: 900px) and (max-width: 999px) {
  .container {
    width: 800px;
    grid-template-columns: repeat(5, 1fr);
  }

  .bookmark-item {
    width: 152.4px;
  }

  #search-bar {
    padding-left: 10%;
  }

  .popup-container {
    top: -500px;
    left: 130px;
  }
}

@media (min-width: 800px) and (max-width: 899px) {
  .container {
    width: 700px;
    grid-template-columns: repeat(5, 1fr);
  }

  .bookmark-item {
    width: 132.4px;
  }

  #search-bar {
    padding-left: 10%;
  }

  .popup-container {
    top: -500px;
    left: 120px;
  }
}

@media (min-width: 700px) and (max-width: 799px) {
  .container {
    width: 600px;
    grid-template-columns: repeat(5, 1fr);
  }

  .bookmark-item {
    width: 112.4px;
  }

  #search-bar {
    padding-left: 10%;
  }

  .popup-container {
    top: -500px;
    left: 110px;
  }
}

@media (min-width: 600px) and (max-width: 699px) {
  .container {
    width: 500px;
    grid-template-columns: repeat(5, 1fr);
  }

  .bookmark-item {
    width: 92.4px;
  }

  #area {
    scale: 0.9;
  }

  #search-bar {
    padding-left: 11%;
  }

  .popup-container {
    top: -500px;
    left: 100px;
  }
}

@media (min-width: 500px) and (max-width: 599px) {
  .container {
    width: 400px;
    grid-template-columns: repeat(5, 1fr);
  }

  .bookmark-item {
    width: 72.4px;
  }

  #area {
    scale: 0.6;
  }

  #search-bar {
    padding-left: 12%;
  }

  .popup-container {
    top: -500px;
    left: 90px;
  }
}

@media (min-width: 300px) and (max-width: 499px) {
  .container {
    width: 350px;
    grid-template-columns: repeat(5, 1fr);
  }

  .bookmark-item {
    width: 64px;
  }

  #area {
    scale: 0.57;
  }

  #search-bar {
    padding-left: 14%;
  }
}

@media (max-width: 999px) {
  .bookmark-item:nth-child(5n + 1) {
    animation-delay: 0s;
  }

  .bookmark-item:nth-child(5n + 2),
  .bookmark-item:nth-child(5n + 6) {
    animation-delay: 0.1s;
  }

  .bookmark-item:nth-child(5n + 3),
  .bookmark-item:nth-child(5n + 7),
  .bookmark-item:nth-child(5n + 11) {
    animation-delay: 0.2s;
  }

  .bookmark-item:nth-child(5n + 4),
  .bookmark-item:nth-child(5n + 8),
  .bookmark-item:nth-child(5n + 12) {
    animation-delay: 0.3s;
  }

  .bookmark-item:nth-child(5n + 5),
  .bookmark-item:nth-child(5n + 9),
  .bookmark-item:nth-child(5n + 13) {
    animation-delay: 0.4s;
  }

  .bookmark-item:nth-child(5n + 10),
  .bookmark-item:nth-child(5n + 14) {
    animation-delay: 0.5s;
  }

  .bookmark-item:nth-child(5n + 15) {
    animation-delay: 0.6s;
  }
}

@keyframes bookmark-container {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes sticky-bar {
  0% {
    transform: scaleX(0) scaleY(0.1);
  }

  100% {
    transform: scaleX(1) scaleY(1);
  }
}

@keyframes search-icon {
  0% {
    left: calc(50% - 25px);
    transform: scaleX(0.1) scaleY(0.1);
    opacity: 0;
  }

  100% {
    left: calc(8% - 25px);
    transform: scaleX(1) scaleY(1);
    opacity: 1;
  }
}

@keyframes clock {
  0% {
    transform: translateY(-500px) translateX(-50%) scale(3);
  }

  100% {
    transform: translateY(0px) translateX(-50%) scale(1);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(0) scale(1);
  }

  30% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(20px) scaleX(0.5);
  }

  70% {
    transform: translateY(40px) scale(1);
  }

  100% {
    transform: translateY(40px) scale(1);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(0) scale(1);
  }

  30% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(-20px) scaleX(1.5);
  }

  70% {
    transform: translateY(-40px) scale(1);
  }

  100% {
    transform: translateY(-40px) scale(1);
  }
}









.popup-container {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 300px;
  height: 400px;
  transform: scale(0);
  opacity: 0;
  transform-origin: 0 0;
  transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  pointer-events: none;
}

.popup-container.active {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

.popup-content {
  background-color: #fefefe;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.popup-bookmarks-grid {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  width: 100%;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 30px;
  border: 10px solid #E9EEF6;
}

.popup-bookmarks-grid .bookmark-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  opacity: 0;
  /* Initial opacity for animation */
  transform: translateY(-20px);
  /* Initial position for animation */
  height: 85.5px;
  width: 86.9px;
  position: static;
  z-index: auto;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(.25, .46, .45, .94);
  border-radius: 15px;
}

/* Animation khi popup được kích hoạt */
.popup-container.active .popup-bookmarks-grid .bookmark-item {
  animation: slideUpFadeIn 0.3s ease-out forwards;
}

.popup-bookmarks-grid .bookmark-item a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  align-items: center;
}

.popup-bookmarks-grid .bookmark-item .popup-bookmark-avatar {
  width: 45px;
  height: 47px;
  position: static;
  top: 0;
  z-index: auto;
}

.popup-bookmarks-grid .bookmark-item:hover {
  transform: scale(1.05);
  background-color: #d5dff4;
}

.popup-bookmarks-grid .bookmark-item .bookmark-name {
  font-size: 12px;
  margin-top: 5px;
  position: static;
  transform: none;
  left: auto;
  z-index: auto;
  color: #333;
}

/* Keyframes cho animation */
@keyframes slideUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}










#chat-bubble {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 10px;
  top: 10px;
  border-radius: 100px;
  background: radial-gradient(ellipse at bottom, #6d97c6 0%, #dfdfc2 100%);
  box-sizing: border-box;
  transition: all 0.5s cubic-bezier(0.2, 0.95, 0.4, 0.95);
  pointer-events: auto;
  z-index: 1000;
  overflow: hidden;
}

#chat-bubble:not(.expanded) {
  cursor: pointer;
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.8);
}

@property --deg {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}

.chat-bubble-border-effect {
  position: absolute;
  /* Kích thước ban đầu giống bubble thu gọn, sẽ thay đổi bằng JS */
  width: 50px;
  height: 50px;
  right: 10px;
  top: 10px;
  border-radius: 100px;
  /* Ban đầu là hình tròn */
  z-index: 9;
  /* Đặt dưới chat-bubble nhưng trên background-blur-chat */
  opacity: 0;
  /* Mặc định ẩn */
  transition: width 0.5s cubic-bezier(0.2, 0.95, 0.4, 0.95),
    height 0.5s cubic-bezier(0.2, 0.95, 0.4, 0.95),
    top 0.5s cubic-bezier(0.2, 0.95, 0.4, 0.95),
    right 0.5s cubic-bezier(0.2, 0.95, 0.4, 0.95),
    border-radius 0.5s cubic-bezier(0.2, 0.95, 0.4, 0.95),
    opacity 0.3s ease;
  /* Thêm transition cho opacity */
}

.chat-bubble-border-effect::before,
.chat-bubble-border-effect::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: conic-gradient(from var(--deg) at center,
      #00c3ff,
      #b3a1ff,
      #fd8eff,
      #ff7171,
      #fec319,
      #77ff99,
      #00c3ff);
  border-radius: inherit;
  animation: autoRotate 4s linear infinite;
  /* Animation xoay */
}

.chat-bubble-border-effect::after {
  filter: blur(20px);
  /* Hiệu ứng mờ cho lớp sau */
}

@keyframes autoRotate {
  to {
    --deg: 360deg;
    /* Thay đổi giá trị của --deg để xoay */
  }
}

/* Khi chat-bubble.expanded, điều chỉnh border-effect theo */
#chat-bubble.expanded+.chat-bubble-border-effect {
  width: 910px;
  height: 490px;
  top: 85px;
  right: -55px;
  border-radius: 25px;
  /* Hình vuông/chữ nhật với góc bo */
  opacity: 1;
  /* Hiển thị khi expanded */
}

#chat-bubble.expanded {
  width: 900px;
  height: 480px;
  top: 90px;
  right: -50px;
  border-radius: 20px;
}

.chat-bubble-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: 0;
}

#note-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  border-bottom-right-radius: 100%;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.6);
  position: relative;
  cursor: pointer;
  z-index: 2;
  /* Bỏ transition transform ở đây nếu bạn không muốn scale khi không expanded */
  /* transition: transform 0.3s ease-out; */
}

/* Pseudo-element cho hiệu ứng hover - TRẠNG THÁI EXPANDED */
/* Đây là trạng thái mặc định của ::before, sẽ được áp dụng chỉ khi .expanded */
#note-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 123, 255);
  box-shadow: 0 0 50px #3195ff,
    0 0 5px #3195ff,
    0 0 25px #3195ff;
  border-bottom-right-radius: 100%;
  transform: translateX(-45px) translateY(-45px);
  transition: all 0.3s ease-in-out;
  z-index: 1;
  opacity: 0;
  /* Mặc định ẩn, chỉ hiện khi #chat-bubble.expanded */
  display: none;
}

/* Khi hover vào #note-background VÀ chat-bubble ĐÃ EXPANDED */
#chat-bubble.expanded #note-background:hover::before {
  transform: translateX(0) translateY(0);
  opacity: 1;
}

/* Các icon (note-default và note-hover) */
.note-icon {
  position: absolute;
  top: 10px;
  left: 12px;
  width: 30px;
  height: 30px;
  z-index: 2;
  opacity: 0;
  /* Mặc định ẩn tất cả các icon */
  transition: opacity 0.3s ease-in-out;
}

/* ---------------------------------------------------- */
/* CÁC THAY ĐỔI ĐỂ ĐÁP ỨNG YÊU CẦU MỚI:                */
/* ---------------------------------------------------- */

/* 1. Khi chat-bubble KHÔNG EXPANDED: */

/* Đảm bảo #note-background không scale khi hover */
#chat-bubble:not(.expanded) #note-background:hover {
  transform: none;
  /* Hủy bỏ mọi hiệu ứng scale */
}

/* Đảm bảo lớp phủ ::before KHÔNG BAO GIỜ HIỂN THỊ khi chưa expanded */
#chat-bubble:not(.expanded) #note-background::before {
  display: none;
}

/* Luôn hiển thị note.png và ẩn reload.png khi chat-bubble chưa expanded */
#chat-bubble:not(.expanded) #note-default {
  opacity: 1;
  /* Luôn hiển thị note.png */
}

#chat-bubble:not(.expanded) #note-hover {
  opacity: 0;
  /* Luôn ẩn reload.png */
}


/* 2. Khi chat-bubble ĐÃ EXPANDED: */

/* Kích hoạt lớp phủ ::before khi expanded */
#chat-bubble.expanded #note-background::before {
  display: block;
  /* Hiển thị ::before khi expanded */
}

/* Luôn hiển thị note-default khi expanded và KHÔNG HOVER */
#chat-bubble.expanded #note-default {
  opacity: 1;
  /* Mặc định note.png hiển thị */
}

/* Ẩn note-hover khi expanded và KHÔNG HOVER */
#chat-bubble.expanded #note-hover {
  opacity: 0;
  /* Mặc định reload.png ẩn */
}

/* Khi hover #note-background VÀ chat-bubble ĐÃ EXPANDED: */
#chat-bubble.expanded #note-background:hover #note-default {
  opacity: 0;
  /* Ẩn note.png */
}

#chat-bubble.expanded #note-background:hover #note-hover {
  opacity: 1;
  /* Hiện reload.png */
}

#stars,
#stars2,
#stars3 {
  width: 1px;
  height: 1px;
  background: transparent;
  position: absolute;
  --star-animation-height: 500px;
  animation: animStar var(--animation-duration, 50s) linear infinite;
}

#stars:after,
#stars2:after,
#stars3:after {
  content: " ";
  position: absolute;
  top: var(--star-animation-height);
  width: inherit;
  height: inherit;
  background: transparent;
  box-shadow: inherit;
}

#stars {
  --animation-duration: 50s;
}

#stars2 {
  width: 2px;
  height: 2px;
  --animation-duration: 100s;
}

#stars3 {
  width: 3px;
  height: 3px;
  --animation-duration: 150s;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(calc(-1 * var(--star-animation-height)));
  }
}

.background-blur-chat {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  z-index: 8;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#chat-bubble.expanded+.background-blur-chat {
  opacity: 1;
  visibility: visible;
}

.background-blur-chat.active {
  opacity: 1;
  visibility: visible;
}

.chat-toolbar {
  position: absolute;
  width: 700px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  gap: 20px;
  z-index: 1;
  backdrop-filter: blur(10px);
  border-radius: 25px 25px 0px 0px;
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}

.plus-button {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: transparent;
  bottom: 15px;
  left: 15px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 25px;
}

.plus-button svg {
  width: 30px;
  height: 30px;
}

.plus-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.chat-toolbar .send-button {
  position: absolute;
  background-color: transparent;
  bottom: 15px;
  right: 15px;
  border: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-radius: 100%;
  transition: all 0.3s ease;
}

.send-button svg {
  width: 40px;
  height: 40px;
  display: block;
}

.send-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.text-area {
  position: relative;
  margin: 20px 0px;
  width: 550px;
  left: 75px;
  border-radius: 25px;
  display: inline-block;
  z-index: 0;
}

.chat-toolbar .text-area .text-input {
  position: relative;
  max-height: 400px;
  width: 100%;
  flex-grow: 1;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 25px;
  padding: 9px 15px 10px 15px;
  font-size: 16px;
  resize: none;
  overflow-y: auto;
  line-height: 1.5;
  box-sizing: border-box;
  z-index: 1000000;
}

.chat-toolbar .text-area .text-input:focus {
  outline: none;
}

.text-area:focus-within .text-gradient-1 {
  opacity: 1;
}

.text-gradient-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: blur(10px);
  border-radius: 25px;
  background: linear-gradient(to left, #7cc6ff, #81ff9a, #fff895, #ffacb4, #df9bff, #7cc6ff, #81ff9a, #fff895, #ffacb4, #df9bff, #7cc6ff);
  background-position: 100% 0%;
  background-size: 200% 100%;
  animation: gradientAnimation 1s linear infinite;
  z-index: 0;
  transition: all 0.5s ease;
}

.text-area:focus-within .text-gradient-2 {
  opacity: 1;
}

.text-gradient-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 25px;
  background: linear-gradient(to left, #7cc6ff, #81ff9a, #fff895, #ffacb4, #df9bff, #7cc6ff, #81ff9a, #fff895, #ffacb4, #df9bff, #7cc6ff);
  background-position: 100% 0%;
  background-size: 200% 100%;
  animation: gradientAnimation 1s linear infinite;
  z-index: 0;
  transition: all 0.5s ease;
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 0%;
  }
}

#chat-bubble:not(.expanded) .chat-toolbar {
  display: none;
}

.chat-content-area {
  width: 900px;
  height: 478px;
  top: 0px;
  box-sizing: border-box;
  overflow-y: auto;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 100px;
  padding-top: 30px;
  align-items: flex-end;
  z-index: 0;
  border: none;
}

.message-box {
  margin-right: 100px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  max-width: 700px;
  width: fit-content;
  min-height: 40px;
  box-sizing: border-box;
  word-wrap: break-word;
  flex-shrink: 0;
  backdrop-filter: blur(10px);
  animation: appear linear;
  animation-timeline: view();
  animation-range: 0% 15%;
  position: relative;
  align-self: flex-end;
  z-index: 20;
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: center;
  /* Căn giữa ngang */
  align-items: center;
}

.message-box:hover {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.5);
}

.message-box p {
  margin: 2px 0px 0px 1px;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  text-align: left;
  white-space: pre-wrap;
  margin: 5px 15px;
}

/* Styles cho ảnh trong message-box */
.chat-image {
  max-width: 400px;
  /* Chiều rộng tối đa */
  max-height: 200px;
  /* Chiều cao tối đa */
  height: auto;
  /* Đảm bảo tỷ lệ khung hình được duy trì */
  display: block;
  /* Loại bỏ khoảng trắng thừa dưới ảnh */
  border-radius: 15px;
  /* Bo tròn góc cho ảnh */
  object-fit: contain;
  margin: 10px;
  /* Khoảng cách trên dưới cho ảnh */
}

.chat-video {
  max-width: 400px;
  /* Chiều rộng tối đa */
  max-height: 200px;
  /* Chiều cao tối đa */
  height: auto;
  /* Đảm bảo tỷ lệ khung hình được duy trì */
  display: block;
  /* Loại bỏ khoảng trắng thừa dưới video */
  border-radius: 15px;
  /* Bo tròn góc cho video */
  object-fit: contain;
  /* Đảm bảo video hiển thị đầy đủ trong khung */
  margin: 10px;
  /* Khoảng cách trên dưới cho video */
}

/* Styles cho file box */
.file-content {
  display: flex;
  align-items: center;
  min-width: 200px;
  max-width: 400px;
  height: 80px;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 20px;
}

.message-box:has(.file-content) {
  background-color: rgba(80, 80, 80, 0.3);
}

.message-box:has(.file-content):hover {
  background-color: rgba(80, 80, 80, 0.6);
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.5);
}

.message-box .file-info {
  height: 55px;
}

.message-box .file-info .file-name {
  font-size: 17px;
  margin: 0px;
  color: #ffffff;
  font-weight: 500;
}

.message-box .file-info .file-size {
  font-size: 14px;
  margin: 7px;
  color: #dcdcdc;
}

.file-avatar-container {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 13px;
}

.file-avatar-container svg {
  width: 100%;
  height: 100%;
}


/* Định dạng cho Audio Box bên trong message-box */
.message-box .chat-audio {
    position: absolute;
    bottom: 10px;
    display: block; /* Đảm bảo audio element là một block */
    max-width: 800px; /* Chiều rộng tối đa */
    width: 580px; /* Chiều rộng tương đối, sẽ chiếm toàn bộ không gian có sẵn trong message-box */
    height: 40px;
    border-radius: 0px;
    overflow: hidden; /* Ẩn nội dung tràn */
    background-color: transparent;
}

/* Định dạng cho tên file trong Audio Box, nằm bên trong message-box */
.message-box .chat-audio + .file-name {
    position: absolute;
    top: 8px;
    left: 10px; /* Căn lề trái cho tên file */
    width: 580px;
    display: -webkit-box; /* Cho phép hiển thị nhiều dòng */
    -webkit-line-clamp: 2; /* Giới hạn 2 dòng */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis; /* Hiển thị dấu ba chấm nếu tràn */
    max-height: 2.8em; /* Chiều cao tối đa cho 2 dòng (khoảng 1.4em mỗi dòng) */
    font-size: 17; /* Kích thước font nhỏ hơn một chút */
    color: #ffffff;
    word-break: break-word; /* Ngắt từ nếu tên quá dài để tránh tràn */
    line-height: 1.5;
    display: flex;
    justify-content: center;
    font-weight: 500;
}

/* Điều chỉnh lại chiều cao tổng thể của message-box khi nó chứa audio */
.message-box:has(.chat-audio) {
    width: 600px;
    height: 100px;
    border-radius: 30px;
    background-color: rgba(80, 80, 80, 0.3);
}

.message-box:has(.chat-audio):hover {
  background-color: rgba(80, 80, 80, 0.5);
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.5);
}

.temporary-notification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  z-index: 1000;
  font-size: 0.9em;
}

.temporary-notification.show {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
}

.interaction-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.2, 0.95, 0.4, 0.95);
  overflow: hidden;
}

.interaction-button img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.interaction-button.blue {
  backdrop-filter: blur(200px);
  background: rgba(0, 0, 0, 0.2);
  right: -45px;
  transform: translateY(-50%) translateX(-10px);
  transition: all 0.3s ease-out;
}

.interaction-button.blue:hover {
  background: #007bff;
  transform: scale(1.1) translateY(-16px);
}

.interaction-button.red {
  backdrop-filter: blur(200px);
  background: rgba(0, 0, 0, 0.2);
  right: -90px;
  transform: translateY(-50%) translateX(-55px);
}

.interaction-button.red:hover {
  background-color: #dc3545;
  transform: scale(1.1) translateY(-16px);
}

.interaction-button.active {
  transform: translateY(-50%) translateX(0);
  opacity: 1;
}

.interaction-button.hide {
  transform: translateY(-50%) translateX(-10px);
  opacity: 0;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}







#toolbar-loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px 25px 0px 0px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(200px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
}

#toolbar-loading-overlay.active {
  opacity: 1;
  visibility: visible;
}

@keyframes waterfall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-250%);
    transform: translateY(-250%);
  }

  40%,
  60% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(250%);
    transform: translateY(250%);
  }
}

.waterfall div {
  -webkit-animation: waterfall 1.5s infinite;
  animation: waterfall 1.5s infinite;
  background-color: var(--primary);
  height: 20px;
  left: 50%;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 20px;
  border-radius: 50%;
  box-shadow: 0 0 5px var(--primary),
    0 0 25px var(--primary),
    0 0 50px var(--primary);
}

.waterfall div:nth-of-type(5) {
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
  margin-left: -80px;
}


.waterfall div:nth-of-type(3) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
  margin-left: -45px;
}

.waterfall div:nth-of-type(1) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
  margin-left: -10px;
}

.waterfall div:nth-of-type(2) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  margin-left: 25px;
}

.waterfall div:nth-of-type(4) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  margin-left: 60px;
}
















/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reset cho loader (để không ảnh hưởng đến body chính của trang) */
.loader * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Styles cho lớp phủ loading mới */
.loading-overlay {
  position: absolute;
  /* Quan trọng để bao phủ chat-bubble */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  /* Làm mờ nền */
  background-color: rgba(0, 0, 0, 0.8);
  /* Nền tối mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  /* Đảm bảo nó nằm trên tất cả các nội dung khác trong chat-bubble */
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease
    /* Kế thừa border-radius từ parent #chat-bubble */
}

#chat-bubble:not(.expanded) .loading-overlay.active {
  opacity: 0;
  /* Giữ opacity 0 ngay cả khi active nếu bubble chưa mở */
  visibility: hidden;
  /* Đảm bảo ẩn hoàn toàn */
}

/* Khi loading-overlay có active class và chat-bubble ĐÃ EXPANDED */
#chat-bubble.expanded .loading-overlay.active {
  opacity: 1;
  /* Hiện loading overlay với opacity 1 */
  visibility: visible;
  /* Hiện loading overlay */
}

.loading-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Styles cho text loader */
.loader {
  position: relative;
  cursor: default;
  -webkit-box-reflect: below -25px linear-gradient(transparent, #0005);
}

.loader span {
  position: relative;
  display: inline-flex;
  /* Đảm bảo hiển thị inline nhưng vẫn có thể dùng transform */
  font-size: 3em;
  /* Có thể điều chỉnh kích thước chữ nếu cần */
  color: transparent;
  -webkit-text-stroke: 1px #fff9;
  text-transform: uppercase;
  font-weight: 800;
  animation: animate 2s ease-in-out infinite;
  animation-delay: calc(0.15s * var(--i));
}

@keyframes animate {
  0% {
    transform: translateY(0px);
    color: transparent;
    text-shadow: none;
  }

  20% {
    transform: translateY(-60px);
    color: #fff;
    text-shadow: 0 0 5px #fff,
      0 0 25px #fff,
      0 0 50px #fff;
  }

  40%,
  100% {
    transform: translateY(0px);
    color: transparent;
    text-shadow: none;
  }
}



.scroll-to-bottom-btn {
  position: absolute;
  top: 340px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
  backdrop-filter: blur(10px);
}

.scroll-to-bottom-btn svg {
  transform: translateX(-0.5px);
}

.scroll-to-bottom-btn:hover {
  background: rgba(0, 102, 255, 0.7);
  transform: translateX(-50%) scale(1.1);
}

.scroll-to-bottom-btn.show {
  opacity: 1;
  visibility: visible;
}

.scroll-to-bottom-btn svg {
  transition: transform 0.2s ease;
}

.scroll-to-bottom-btn:hover svg {
  transform: translateY(2px);
}


body.no-scroll {
    overflow: hidden;
}

